@mixin flexcontent {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin centerobject {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin home-icon {
    font-size: 6rem;
    color: $primary-color;
    margin-bottom: 20px;
}
@mixin transform-property {
    transition: transform linear 0.1s;
    will-change: transform;
}
@mixin slide-left {
    opacity: 0;
    transition: all 1s linear;
    transform: translate3d(-200px, 0px, 0px);
}
@mixin slide-right {
    opacity: 0;
    transition: all 1s linear;
    transform: translate3d(200px, 0px, 0px);
}
@mixin in-view {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
@mixin popup-position{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
}