@-webkit-keyframes headerGrowth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes headerGrowth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes listGrowth {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes listGrowth {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes changeColor {
  from {
    background-color: #F0F0F0;
  }
  to {
    background-color: #636e72;
  }
}

@keyframes changeColor {
  from {
    background-color: #F0F0F0;
  }
  to {
    background-color: #636e72;
  }
}

@-webkit-keyframes mobiComment {
  from {
    -webkit-transform: translateY(140%);
            transform: translateY(140%);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes mobiComment {
  from {
    -webkit-transform: translateY(140%);
            transform: translateY(140%);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

#pc {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /* 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: relative;
}

.header .home-background {
  position: relative;
  width: 100%;
  background-image: url(../img/home-img.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header .background-navbar {
  position: fixed;
  left: 0;
  right: 0;
  height: 99px;
  background-color: transparent;
  z-index: 2;
  will-change: opacity;
}

.header .home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 1200px;
  z-index: 2;
  padding-top: 10px;
  background: transparent;
}

.header .header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  height: 50px;
  width: 990px;
  color: #FFFFFF;
  font-family: 'Yusei Magic', sans-serif;
  text-shadow: 0 2px 20px #111111;
  z-index: 1;
  cursor: default;
}

.header .header-content .header-title {
  font-size: 5rem;
  margin: 60px 0;
  text-align: center;
}

.header .header-content .header-quote {
  font-size: 2.6rem;
}

.main-logo {
  z-index: 1;
}

.main-logo .logo {
  width: 200px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.nav-list .nav-item {
  position: relative;
  margin: 0 12px;
  font-size: 1.9em;
  font-weight: 600;
}

.nav-list .nav-item:hover .list-faculty {
  display: block;
}

.nav-list .nav-item .list-faculty {
  position: absolute;
  display: none;
  width: 250px;
  left: -10px;
  top: 20px;
  padding: 10px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 15px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation: listGrowth linear 0.3s;
          animation: listGrowth linear 0.3s;
  will-change: opacity, transform;
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 30px rgba(0, 0, 0, 0.5);
}

.nav-list .nav-item .list-faculty .faculty-item {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.nav-list .nav-item .search-box {
  margin-left: 10px;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.nav-list .nav-item .search-box .inclicked {
  width: 260px !important;
  border-radius: 0 !important;
}

.nav-list .nav-item .search-box .search-input {
  padding: 5px;
  width: 25px;
  height: 25px;
  background: none;
  border-radius: 50%;
  border: 2px solid #2e2e2e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
}

.nav-list .nav-item .search-box .close::before, .nav-list .nav-item .search-box .close::after {
  content: "";
  width: 2px;
  height: 20px;
  background: #2e2e2e;
  position: absolute;
  bottom: 2px !important;
  right: 14px !important;
}

.nav-list .nav-item .search-box .close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-list .nav-item .search-box .close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-list .nav-item .search-box .search-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-list .nav-item .search-box .search-btn::before {
  content: "";
  width: 2px;
  height: 20px;
  background: #2e2e2e;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -13px;
  right: -5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-list .nav-item .search-box .search-btn--submit {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  display: none;
  right: -30px;
  top: 5px;
  cursor: pointer;
}

.nav-list .nav-item .search-box .search-btn--submit i {
  font-size: 1.7rem;
}

.nav-list .nav-item .search-box .search-input.inclicked ~ .search-btn--submit {
  display: block;
}

.nav-list .nav-item a {
  text-decoration: none;
  color: #2e2e2e;
  position: relative;
}

.nav-list .nav-item a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #2e2e2e;
  height: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-list .nav-item a:hover::after {
  width: 100%;
}

.nav-list .nav-item .navbar-img {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  top: 5px;
}

.nav-list .nav-item .user-menu {
  position: absolute;
  display: none;
  width: 250px;
  left: -10px;
  top: 35px;
  padding: 10px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 15px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation: listGrowth linear 0.3s;
          animation: listGrowth linear 0.3s;
  will-change: opacity, transform;
}

.nav-list .nav-item .user-menu .user-item {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.nav-list .user-list-action {
  -webkit-transform: translateY(-47%);
          transform: translateY(-47%);
}

.nav-list .user-list-action span {
  cursor: default;
  color: #2e2e2e;
}

.nav-list .user-list-action:hover .user-menu {
  display: block !important;
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 30px rgba(0, 0, 0, 0.5);
}

.navbar {
  position: relative;
}

.container {
  padding-top: 10px;
  margin-top: 120px;
  padding-bottom: 20px;
  overflow: hidden;
}

.container .col {
  margin-bottom: 80px;
}

.content-block {
  position: relative;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 1px 10px rgba(17, 17, 17, 0.5);
          box-shadow: 0 1px 10px rgba(17, 17, 17, 0.5);
  padding: 20px 20px;
  border-radius: 4px;
  -webkit-transition: -webkit-transform linear 0.1s;
  transition: -webkit-transform linear 0.1s;
  transition: transform linear 0.1s;
  transition: transform linear 0.1s, -webkit-transform linear 0.1s;
  will-change: transform;
  cursor: pointer;
  opacity: 0;
}

.content-block i {
  font-size: 6rem;
  color: #1D60A6;
  margin-bottom: 20px;
}

.content-block h1 {
  color: #2e2e2e;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.content-block p {
  color: #2e2e2e;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
}

.content-block2 {
  position: relative;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 1px 10px rgba(17, 17, 17, 0.5);
          box-shadow: 0 1px 10px rgba(17, 17, 17, 0.5);
  padding: 20px 20px;
  border-radius: 4px;
  -webkit-transition: -webkit-transform linear 0.1s;
  transition: -webkit-transform linear 0.1s;
  transition: transform linear 0.1s;
  transition: transform linear 0.1s, -webkit-transform linear 0.1s;
  will-change: transform;
  cursor: pointer;
  opacity: 0;
}

.content-block2 i {
  font-size: 6rem;
  color: #1D60A6;
  margin-bottom: 20px;
}

.content-block2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-block2 div h1 {
  color: #EF6F26;
  margin-left: 15px;
}

.content-block2 div p {
  color: #2e2e2e;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.content-block:hover,
.content-block2:hover {
  -webkit-transition: -webkit-transform 0.1s linear !important;
  transition: -webkit-transform 0.1s linear !important;
  transition: transform 0.1s linear !important;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear !important;
  -webkit-transform: translateY(-5px) !important;
          transform: translateY(-5px) !important;
}

.content-block.slide-left {
  opacity: 0;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform: translate3d(-200px, 0px, 0px);
          transform: translate3d(-200px, 0px, 0px);
}

.content-block.slide-left.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.content-block.slide-right {
  opacity: 0;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform: translate3d(200px, 0px, 0px);
          transform: translate3d(200px, 0px, 0px);
}

.content-block.slide-right.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.content-block2.slide-left {
  opacity: 0;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform: translate3d(-200px, 0px, 0px);
          transform: translate3d(-200px, 0px, 0px);
}

.content-block2.slide-left.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.content-block2.slide-right {
  opacity: 0;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform: translate3d(200px, 0px, 0px);
          transform: translate3d(200px, 0px, 0px);
}

.content-block2.slide-right.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.footer {
  height: 40vh;
  border-top: 2px solid #0e0d0d;
  background-color: #2E2E2E;
  padding: 50px;
}

.footer .footer-content {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  font-size: 1.6rem;
  position: relative;
}

.footer .footer-content h3 {
  margin: 10px 0;
}

.footer .footer-content h3::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 150px;
  background-color: #FFFFFF;
}

.footer .footer-content ul {
  list-style: none;
}

.footer .footer-content ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer .footer-content ul li:nth-child(1):hover {
  color: #3B579D;
}

.footer .footer-content ul li:nth-child(2):hover {
  color: #FF0000;
}

.footer .footer-content ul li:nth-child(3):hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer .footer-content ul li:nth-child(4):hover {
  color: #55ACEF;
}

.footer-icon {
  font-size: 3rem;
  margin-right: 15px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.show-popup {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-animation: listGrowth linear 0.3s;
          animation: listGrowth linear 0.3s;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  will-change: transform;
}

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-login {
  width: 350px;
  background-color: #dfe6e9;
  border-radius: 10px;
  padding: 0 32px;
  margin: auto;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.popup-login .popup-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  color: #555;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 2px;
}

.popup-login .form .logo-img {
  margin: 30px 0 20px;
  text-align: center;
}

.popup-login .form .logo-img img {
  width: 130px;
  border-radius: 50%;
}

.popup-login .form .popup-title {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 600;
  color: #2e2e2e;
  margin: 20px 0 50px;
}

.popup-login .form .popup-element {
  margin: 20px 0 30px;
  height: 40px;
  border-bottom: 2px solid #adadad;
  position: relative;
}

.popup-login .form .popup-element label {
  display: block;
  font-size: 1.4rem;
  color: #2e2e2e;
  margin-bottom: 5px;
}

.popup-login .form .popup-element input {
  width: 100%;
  padding: 0 5px;
  outline: none;
  border: none;
  background: none;
  color: #333;
  height: 35px;
}

.popup-login .form .popup-element .focuss + .input-effect::before {
  top: 2px;
}

.popup-login .form .popup-element .focuss + .input-effect::after {
  width: 100% !important;
}

.popup-login .form .popup-element .input-effect {
  font-size: 1.5rem;
  font-weight: 450;
}

.popup-login .form .popup-element .input-effect::before {
  content: attr(data-placeholder);
  position: absolute;
  left: 5px;
  top: 60%;
  color: #2e2e2e;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.popup-login .form .popup-element .input-effect::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0px;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg, #81ecec, #00cec9, #6c5ce7);
  -webkit-transition: .5s;
  transition: .5s;
}

.popup-login .form .popup-element button {
  margin-top: 5px;
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background: #1D60A6;
  color: #FFFFFF;
}

.popup-login .form .popup-element:last-child {
  margin-bottom: 30px;
}

.popup-login .form .popup-element .form-message {
  position: relative;
  font-size: 12px;
  top: 7px;
  color: #f55650;
  font-weight: 500;
}

.popup-login .form .popup-element #login-checkbox {
  width: 13px;
}

.popup-login .form .popup-element #login-checkbox ~ span {
  font-size: 1.4rem;
  color: #2e2e2e;
  margin-left: 5px;
}

.popup-login .form .popup-element #login-checkbox ~ span a {
  color: #2e2e2e;
  margin-left: 20px;
}

.documentBox {
  position: relative;
  height: 260px;
  background-color: #F0F0F0;
  margin-top: 30px;
  padding: 10px;
  border-radius: 3px;
}

.documentBox:hover {
  -webkit-animation: changeColor linear 0.3s forwards;
          animation: changeColor linear 0.3s forwards;
}

.documentBox:hover .document-info {
  display: block !important;
}

.documentBox:hover a {
  color: #FFFFFF;
}

.documentBox .cimbox {
  position: relative;
  width: 100%;
  height: 80%;
  background-image: url(../img/document-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.documentBox .cimbox .document-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  bottom: 1px;
  display: none;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: listGrowth linear 0.3s;
          animation: listGrowth linear 0.3s;
  will-change: opacity;
}

.documentBox .cimbox .document-info h3 {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: 5px 10px;
  text-shadow: 0 5px 10px black;
}

.documentBox h2 {
  text-align: center;
  font-size: 1.8rem;
  margin: 20px 0;
}

.documentBox h2 a {
  text-decoration: none;
  color: #2e2e2e;
}

.popup-document {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.document-container {
  margin: auto;
  position: relative;
  z-index: 2;
  width: 80vw;
  height: 80vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #dfe4ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.document-container #comment-active {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 2px;
  font-size: 2rem;
  color: #2e2e2e;
}

.document-container .document-content {
  position: relative;
  width: 70%;
  height: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.document-container .document-content a {
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 15px 25px;
  margin: 0 20px;
  color: #FFFFFF;
}

.document-container .document-content a:first-child {
  background-color: #079992;
}

.document-container .document-content a:first-child:hover {
  background-color: #027a74;
}

.document-container .document-content a:last-child {
  background-color: #eb2f06;
}

.document-container .document-content a:last-child:hover {
  background-color: #b42606;
}

.document-container .document-comment {
  position: relative;
  width: 30%;
  height: 100%;
  background-color: #f1f2f6;
  padding: 50px 20px 0;
}

.document-container .document-comment a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 2px 15px;
  border-radius: 3px;
}

.document-container .document-comment a:hover {
  background-color: black;
  color: white;
}

.document-container .document-comment i {
  font-size: 1.8rem;
  margin-right: 8px;
  margin-bottom: 10px;
  color: #adb5bd;
}

.document-container .document-comment .active-like {
  color: #EA2027;
}

.document-container .document-comment .comment-content {
  padding: 10px 15px;
  background-color: #ced6e0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.document-container .document-comment .comment-content .comment-userName {
  font-size: 1.5rem;
  font-weight: 450;
  margin-bottom: 5px;
}

.document-container .document-comment .comment-content .user-comment {
  font-size: 1.4rem;
}

.document-container .document-comment form input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 5px;
}

.document-container .document-comment form button {
  float: right;
  display: none;
}

.document-container .document-comment-mobi-active {
  display: block !important;
}

.document-container .document-comment-mobi {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #f1f2f6;
  bottom: 0px;
  padding: 10px;
  -webkit-animation: mobiComment linear 0.5s;
          animation: mobiComment linear 0.5s;
  will-change: transform, opacity;
}

.document-container .document-comment-mobi i {
  font-size: 1.8rem;
  margin-right: 8px;
  margin-bottom: 10px;
  color: #adb5bd;
}

.document-container .document-comment-mobi .active-like {
  color: #EA2027;
}

.document-container .document-comment-mobi .comment-content {
  padding: 10px 15px;
  background-color: #ced6e0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.document-container .document-comment-mobi .comment-content .comment-userName {
  font-size: 1.5rem;
  font-weight: 450;
  margin-bottom: 5px;
}

.document-container .document-comment-mobi .comment-content .user-comment {
  font-size: 1.4rem;
}

.document-container .document-comment-mobi form input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 5px;
}

.document-container .document-comment-mobi form button {
  float: right;
  display: none;
}

.uploadBox {
  margin-top: 50px;
  padding: 20px 40px;
  width: 100%;
  height: 50vh;
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 30px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 2px;
}

.uploadBox i {
  font-size: 7rem;
  color: #1D60A6;
}

.uploadBox span {
  font-size: 1.5rem;
  color: #2e2e2e;
}

.uploadBox .upload-btn {
  position: relative;
  overflow: hidden;
  padding: 0;
  background-color: #3498db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4aa3df), to(#258cd1));
  background-image: linear-gradient(#4aa3df 0%, #258cd1 100%);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
          box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 20px 40px;
  cursor: pointer;
  font-weight: 600;
}

.uploadBox .upload-btn span {
  color: #fff;
  text-transform: capitalize;
}

.uploadBox .upload-btn:hover {
  background-color: #4aa3df;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5faee3), to(#3498db));
  background-image: linear-gradient(#5faee3 0%, #3498db 100%);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(74, 163, 223, 0.5) 0 0 5px;
          box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(74, 163, 223, 0.5) 0 0 5px;
}

.uploadBox .upload-btn::after {
  content: "";
  position: absolute;
  top: -90%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: rgba(255, 255, 255, 0.13);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

.uploadBox .upload-btn:hover::after {
  opacity: 1;
  top: -15%;
  left: 100%;
  -webkit-transition-property: left, top, opacity;
  transition-property: left, top, opacity;
  -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
          transition-duration: 0.7s, 0.7s, 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.uploadBox .uploadCheckbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uploadBox .uploadCheckbox span {
  margin-left: 10px;
}

.uploadBox .upload-hidden {
  position: absolute;
  opacity: 0;
  right: -99999px;
  visibility: hidden;
}

.uploadBox .submit-upload {
  display: none;
  position: relative;
  padding: 8px 25px;
  background: #0c8fda;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  border: 0;
  color: #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.uploadBox .submit-upload:hover {
  background: #0b7fc2;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.uploadBox label {
  position: relative;
  padding: 8px 15px;
  background: #eee;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  font-size: 1.4rem;
  margin: 20px 0 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.uploadBox label:hover {
  background: #0c8fda;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.uploadBox .selectedFiles {
  background: #eee;
  padding: 15px 15px 30px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.uploadBox .selectedFiles ul {
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow: auto;
}

.uploadBox .selectedFiles ul li {
  padding: 0.5rem 0;
  padding-right: 2rem;
  position: relative;
  margin-bottom: 5px;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.uploadBox .selectedFiles ul li i {
  font-size: 1.4rem;
  color: #2e2e2e;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.uploadBox .input-title {
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 1.5rem;
  margin-top: 10px;
}

span.file-size {
  color: #999;
  padding-left: 0.5rem;
}

.sidebar {
  position: relative;
  border-radius: 3px;
  padding: 15px 30px;
  border: 2px solid #ccc;
  border-bottom: none;
  height: 100%;
  display: block;
}

.sidebar h4 {
  color: #2e2e2e;
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  font-size: 1.6rem;
}

.sidebar ul li {
  position: relative;
  margin-bottom: 20px;
  font-weight: 400;
}

.sidebar ul li:hover {
  right: -4px;
  color: #1D60A6;
  cursor: pointer;
}

.sidebar ul li.active {
  right: -4px;
  color: #1D60A6;
  font-weight: 500;
}

.content-container-box {
  position: relative;
  height: 120vh;
}

.content-container-box fieldset {
  width: 400px;
  height: 100px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
}

.content-container-box fieldset legend {
  color: #2e2e2e;
  font-size: 1.6rem;
  font-weight: 500;
}

.content-container-box fieldset form input {
  height: 30px;
  margin-right: 20px;
  text-align: center;
}

.content-container-box fieldset form button {
  padding: 5px 10px;
}

.content-container-box .content-container-data {
  position: absolute;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  will-change: opacity, transition;
}

.content-container-box .content-container-data.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
}

.header-box-content .nameFaculty {
  position: relative;
  width: 100%;
}

.header-box-content .nameFaculty::after {
  content: "";
  border-top: 2px solid #d3d8f6;
  height: 1px;
  width: 200%;
  position: absolute;
  top: 8px;
}

.header-box-content span {
  color: #2e2e2e;
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 5px;
}

.dataBox {
  position: relative;
  background-color: #bacef3;
  height: 150px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dataBox h4 {
  color: #2e2e2e;
  font-size: 2rem;
  margin: 20px 0;
}

.dataBox span {
  color: #2e2e2e;
  font-size: 2.5rem;
}

.list-student-table {
  position: relative;
  border: 2px solid #ccc;
  overflow: hidden;
}

.list-student-table .col {
  margin-bottom: 0;
  height: 50px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-student-table .col:nth-child(1) {
  border-right: 1px solid #ccc;
}

.list-student-table .col:nth-child(2) {
  border-right: 1px solid #ccc;
}

.list-student-table .col h3 {
  color: #2e2e2e;
  text-align: center;
  font-size: 1.8rem;
}

.list-student-table .col h4 {
  color: #2e2e2e;
  font-size: 1.5rem;
}

.user-info {
  position: relative;
  border: 5px solid #ccc;
  height: 100%;
  margin-top: 30px;
  background-color: #F0F0F0;
}

.user-info .user-info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info .user-info-header .user-avatar {
  position: absolute;
  top: -20px;
  left: -35px;
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #ccc;
  background-position: center;
}

.user-info .user-info-header h4 {
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 30px;
  color: #2e2e2e;
}

.user-info .list-user-info {
  list-style: circle;
  position: absolute;
  top: 90px;
  margin-left: 25px;
}

.user-info .list-user-info li {
  color: #2e2e2e;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.user-info .list-user-info li a {
  cursor: pointer;
  height: 26px;
  width: auto;
  padding: 5px;
  border: 2px solid #1D60A6;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-size: 1.4rem;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-decoration: none;
  color: #2e2e2e;
}

.user-info .list-user-info li a:hover {
  background-color: #1D60A6;
  font-weight: 500;
  color: #FFFFFF;
}

.mobile-sidebar {
  display: none;
  margin-bottom: 20px;
}

.mobile-sidebar .mSidebar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  max-width: 100%;
  overflow-x: scroll;
}

.mobile-sidebar .mSidebar-list::-webkit-scrollbar {
  display: none;
}

.mobile-sidebar .mSidebar-list .mSidebar-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  overflow: hidden;
  width: 110px;
  height: 40px;
  display: block;
  border-radius: 5px;
  font-weight: 350;
  cursor: pointer;
  border: 2px solid #ccc;
}

.mobile-sidebar .mSidebar-list .mSidebar-item.active {
  background-color: #33d9b2;
  font-weight: 500;
}

.ui-autocomplete {
  z-index: 2;
  background: ivory;
  border-radius: 3px;
  width: 100px;
}

.ui-menu {
  color: #2e2e2e;
  list-style: none;
  padding: 5px 10px;
  font-size: 1.4rem;
  cursor: pointer;
}

.ui-menu .ui-menu-item {
  margin-bottom: 5px;
}

.admin-heading {
  background-color: #1D60A6;
}

.admin-heading .admin-navbar {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-heading .admin-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.admin-heading .admin-navbar ul li {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 80px;
}

.admin-body {
  position: relative;
  margin-top: 50px;
}

.admin-body .admin-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 2.6rem;
}

.admin-body .btn {
  cursor: pointer;
  height: 26px;
  width: auto;
  padding: 5px;
  border: 2px solid #1D60A6;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-size: 1.4rem;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.admin-body .btn:hover {
  background-color: #1D60A6;
  font-weight: 500;
  color: #FFFFFF;
}

.admin-body .btn-tag {
  margin: 0 5px;
}

.admin-body .btn-a {
  top: 8px;
  position: relative;
  text-decoration: none;
  color: #2e2e2e;
}

.admin-body .admin-search {
  height: 26px;
  position: relative;
  top: -2px;
}

.admin-body .admin-search:focus {
  outline: #1D60A6 auto 1px;
  outline-offset: 0px;
}

.admin-body .admin-createUser {
  position: relative;
  left: 35px;
}

.admin-body .admin-createUser .form-group {
  margin: 15px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.admin-body .admin-createUser .form-group label {
  font-size: 1.4rem;
  font-weight: 400;
}

.admin-body .admin-createUser .form-group .form-control {
  margin: 8px 0;
  padding: 5px;
  width: 80%;
}

.admin-body .admin-createUser .form-group:last-child {
  padding-left: 33%;
}

.admin-body .admin-createUser .form-group:last-child input {
  width: 80px;
}

.table {
  margin-top: 20px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  border-collapse: collapse;
  text-align: center;
}

.table th, .table td {
  height: 25px;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
}

.table .btn-handle > a {
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 2px;
  color: #2e2e2e;
}

.table .btn-handle > a:nth-child(1) {
  background-color: #63cdda;
}

.table .btn-handle > a:nth-child(1):hover {
  background-color: #3dc1d3;
}

.table .btn-handle > a:nth-child(2) {
  background-color: #f5cd79;
}

.table .btn-handle > a:nth-child(2):hover {
  background-color: #f1be4e;
}

.table .btn-handle > a:nth-child(3) {
  background-color: #ff7979;
}

.table .btn-handle > a:nth-child(3):hover {
  background-color: #eb4d4b;
}

.coor-list-docx {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.coor-list-docx table td:nth-child(1) {
  width: 25%;
}

.coor-list-docx table td:nth-child(2) {
  width: 20%;
}

.coor-list-docx table td:nth-child(3) {
  width: 20%;
}

.coor-list-docx table td:nth-child(4) {
  width: 35%;
}

.coor-list-docx .handle-coor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 15px;
}

.coor-list-docx .handle-coor a {
  width: 50px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  border-radius: 4px;
  color: #2e2e2e;
  font-weight: 500;
}

.coor-list-docx .handle-coor a:nth-child(1) {
  background-color: #63cdda;
  width: 70px;
}

.coor-list-docx .handle-coor a:nth-child(1):hover {
  background-color: #3dc1d3;
}

.coor-list-docx .handle-coor a:nth-child(2) {
  background-color: #f5cd79;
}

.coor-list-docx .handle-coor a:nth-child(2):hover {
  background-color: #f1be4e;
}

.coor-list-docx .handle-coor a:nth-child(3) {
  background-color: #ff7675;
}

.coor-list-docx .handle-coor a:nth-child(3):hover {
  background-color: #fa5c5c;
}

.btn-select-docx {
  padding: 5px 10px;
  border: none;
  background-color: #596275;
  color: #FFFFFF;
}

.btn-select-docx:hover {
  background-color: #303952;
}

.text-danger {
  display: none;
}

#chart-wrap {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

#piechart {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 550px;
}

.timeline {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeStamp {
  margin-bottom: 20px;
  padding: 0px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
}

.timeStamp .time-date {
  width: 80px;
  margin-right: 26px;
  font-size: 1.4rem;
}

.time-status {
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 5px solid #1D60A6;
  position: relative;
}

.time-status::before {
  content: '';
  width: 25px;
  height: 25px;
  background-color: #1D60A6;
  border-radius: 25px;
  border: none;
  position: absolute;
  top: -15px;
  left: 42%;
}

.time-status h4 {
  margin: 15px 26px 0 0;
  font-size: 1.5rem;
  font-family: 'Yusei Magic', sans-serif;
  color: #2e2e2e;
}
/*# sourceMappingURL=main.css.map */