@import './variable';
@import './mixin';
@import './animation';
#pc{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    /* 10px */
    font-size: 62.5%;
    line-height: 1.6rem; 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
// header
.header{
    position: relative;
    .home-background{
        position: relative;
        width: 100%;
        background-image: url(../img/home-img.jpg);
        height: 100vh; 
        background-size: cover;
        background-position: center;
        background-repeat:no-repeat;
    }
    .background-navbar{
        position: fixed;
        left: 0;
        right: 0;
        height: 99px;
        background-color: transparent;
        z-index:2;
        will-change: opacity;
    }
    .home-header{
        @include flexcontent();
        justify-content: space-between;
        position: fixed;
        width: 1200px;
        z-index: 2;
        padding-top: 10px;
        background: transparent;
    }
    .header-content{
        @include centerobject();
        @include flexcontent();
        flex-direction: column;
        justify-items: center;
        height: 50px;
        width: 990px;
        color: $text-quote;
        font-family: 'Yusei Magic', sans-serif;
        text-shadow: 0 2px 20px rgba($color: #111111, $alpha: 1);
        z-index: 1;
        cursor:default;
        .header-title{
            font-size: 5rem;
            margin: 60px 0;
            text-align: center;
        }
        .header-quote{
            font-size: 2.6rem;
        }
    }
}
.main-logo{
    .logo{
        width: 200px;
    }
}
.nav-list{
    // position: relative;
    display: flex;
    list-style: none;
    text-transform: uppercase;
    .nav-item{
        position: relative;
        margin: 0 12px;
        font-size: 1.9em;
        font-weight: 600;
        &:hover .list-faculty{
            display: block;
        }
        .list-faculty{
            position: absolute;
            display: none;
            width: 250px;
            left: -10px;
            top: 20px;
            padding: 10px;
            list-style: none;
            background-color: rgba(255, 255, 255, .15);
            backdrop-filter: blur(5px);
            padding: 15px;
            transform-origin: left top;
            animation: listGrowth linear 0.3s;
            will-change: opacity, transform;
            .faculty-item{
                text-transform: capitalize;
                margin-bottom: 15px;
            }

        }
        .search-box{
            margin-left: 10px;
            transform: translateY(-40%);
            
            .inclicked{
                width: 260px !important;
                border-radius: 0 !important;
            }
            .search-input{
                padding: 5px;
                width: 25px;
                height: 25px;
                background: none;
                border-radius: 50%;
                border: 2px solid $text-color;
                box-sizing: border-box;
                outline: none;
                transition: width 0.4s ease-in-out,
                            border-radius 0.8s ease-in-out,
                            padding 0.2s; 
            }
            .close{
                &::before, &::after{
                    content: "";
                    width: 2px;
                    height: 20px;
                    background: $text-color;
                    position: absolute;         
                    bottom: 2px !important;
                    right: 14px !important;       
                }
                &::before{
                    transform: rotate(-45deg);
                }
                &::after{
                    transform: rotate(45deg);
                }
            }
            .search-btn{
                position: absolute;
                width: 25px;
                height: 25px;
                top: 0;
                right: 0;
                box-sizing: border-box;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
                &::before{
                    content: "";
                    width: 2px;
                    height: 20px;
                    background: $text-color;
                    position: absolute;
                    transform: rotate(-45deg);
                    bottom: -13px;
                    right: -5px;
                    transition: 0.4s;
                }
            }
            .search-btn--submit{
                position: absolute;
                box-sizing: border-box;
                background: none;
                border: none;
                outline: none;
                display: none;
                right: -30px;
                top: 5px;
                cursor: pointer;
                i{
                    font-size: 1.7rem;
                }
            }
            .search-input.inclicked ~ .search-btn--submit{
                display: block;
            }
        }
        
        a{
            text-decoration: none;
            color: $text-color;
            position: relative;
            
            &::after{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                content: '.';
                color: transparent;
                background: $text-color;
                height: 1px;
                transition: all 0.5s;
            }
            &:hover::after{
                width: 100%;
            }
        }
        // navbar user
        &:nth-child(5){
            transform: translateY(-47%);
            span{
                cursor: default;
            }
        }
        &:nth-child(5):hover .user-menu{
            display: block !important;
        }
        .navbar-img{
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            top: 5px;
        }
        .user-menu{
            position: absolute;
            display:none;
            width: 250px;
            left: -10px;
            top: 35px;
            padding: 10px;
            list-style: none;
            background-color: rgba(255, 255, 255, .15);
            backdrop-filter: blur(5px);
            padding: 15px;
            transform-origin: left top;
            animation: listGrowth linear 0.3s;
            will-change: opacity, transform;
            .user-item{
                text-transform: capitalize;
                margin-bottom: 10px;
            }
        }
    }
    
}
.navbar{
    position: relative;
}
// body
.container{
    margin-top: 120px;
    padding-bottom: 20px;
    .col{
        margin-bottom: 80px;
    }
}
.content-block{
    position: relative;
    display: block;
    @include flexcontent();
    flex-direction: column;
    box-shadow: 0 1px 10px rgba($color: #111111, $alpha: 0.5);
    padding: 20px 20px;
    border-radius: 4px;
    @include transform-property();
    cursor: pointer;
    opacity: 0;
    i{
        @include home-icon();
    }
    h1{
        color: $text-color;
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    p{
        color: $text-color;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 500;
    }
}
.content-block2{
    position: relative;
    display: block;
    @include flexcontent();
    flex-direction: column;
    box-shadow: 0 1px 10px rgba($color: #111111, $alpha: 0.5);
    padding: 20px 20px;
    border-radius: 4px;
    @include transform-property();
    cursor: pointer;
    opacity: 0;
    i{
        @include home-icon();
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h1{
            color: #EF6F26;
            
            margin-left: 15px;
        }
        p{
            color: $text-color;
            font-size: 1.5rem;
            font-weight: 500;
            text-align:center;
        }
    }    
}
.content-block:hover,
.content-block2:hover{
    transition: transform 0.1s linear !important;
    transform: translateY(-5px) !important;
}
.content-block.slide-left{
    @include slide-left();
}
.content-block.slide-left.in-view{
    @include in-view();
}
.content-block.slide-right{
    @include slide-right();
}
.content-block.slide-right.in-view{
    @include in-view();
}
.content-block2.slide-left{
    @include slide-left();
}
.content-block2.slide-left.in-view{
    @include in-view();
}
.content-block2.slide-right{
    @include slide-right();
}
.content-block2.slide-right.in-view{
    @include in-view();
}
// footer
.footer{
    height: 40vh;
    border-top: 2px solid #0e0d0d;
    background-color: #2E2E2E;
    padding: 50px;
    .footer-content{
        color: $text-quote;
        @include flexcontent;
        flex-direction: column;
        align-items: unset;
        font-size: 1.6rem;
        position: relative;
        h3{
            margin: 10px 0;
            &::after{
                content: "";
                display: block;
                position: absolute;
                height: 2px;
                width: 150px;
                background-color: $text-quote;
            }
        }
        ul{
            list-style: none;            
            li {
                margin-top: 5px;
                margin-bottom: 5px;
                &:nth-child(1):hover{
                    color: #3B579D;
                }
                &:nth-child(2):hover{
                    color: #FF0000;
                }
                &:nth-child(3):hover{
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &:nth-child(4):hover{
                    color: #55ACEF;
                }
                
            }
        }
    }
}
.footer-icon{
    font-size: 3rem;
    margin-right: 15px;
}
.footer-social{
    display: flex;
}
// popup-login-form
.popup{
    @include popup-position();
}
.show-popup{
    display: flex !important;
    animation: listGrowth linear 0.3s;
    transform-origin: right top;
    will-change: transform;
}
.popup-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.popup-login{
    width: 350px;
    background-color: ivory;
    border-radius: 5px;
    padding: 0 32px;
    margin: auto;
    position: relative;
    z-index: 2;
    overflow: hidden;
    .popup-close{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 30px;
        height: 30px;
        color:  #555;
        font-size: 2.4rem;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        padding-top: 10px;
        padding-right: 2px;
    }
    .form{
        .logo-img{
            margin: 30px 0 20px;
            text-align: center;
            img{
                width: 130px;
                border-radius: 50%;
            }
        }
        .popup-title{
            text-align: center;
            font-size: 3.4rem;
            font-weight: 600;
            color: $text-color;
            margin: 20px 0;
        }
        .popup-element{
            padding: 8px 20px;
            label{
                display: block;
                font-size: 1.4rem;
                color: $text-color;
                margin-bottom: 5px;
            }
            input{
                width: 100%;
                padding: 8px 10px;
                box-sizing: border-box;
                outline: none;
                border: 1px solid #aaa;
                background: none;
                border-radius: 5px;
                &:focus{
                    outline: #84BCED auto 1px;
                    outline-offset: 0px;
                }
            }
            button{
                margin-top: 5px;
                width: 100%;
                padding: 10px 0;
                text-transform: uppercase;
                outline: none;
                border: none;
                font-size: 1.4rem;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;
                background: $primary-color;
                color: $text-quote;
            }
            &:last-child{
                margin-bottom: 30px;
            }
            .form-message{
                font-size: 12px;
                margin-top: 5px;
                color:  rgb(245, 86, 80) ;
                font-weight: 500; 
            }
        }
    }
}
.popup-element.invalid > input {
    background-color: rgba(255, 0, 0, 0.1) !important;
}
// document box
.documentBox{
    position: relative;
    height: 260px; 
    background-color:#F0F0F0; 
    margin-top: 30px;
    padding: 10px;
    border-radius: 3px;
    &:hover{
        animation: changeColor linear 0.3s forwards;
    }
    &:hover .document-info{
        display:block !important;
    }
    &:hover a{
        color:$text-quote;
    }
    .cimbox{
        position: relative;
        width:100%;
        height: 80%;
        background-image: url(../img/document-img.jpg);
        background-size: cover;
        background-position: center;
        background-repeat:no-repeat;
        .document-info{
            @include flexcontent();
            flex-direction: column;    
            align-items:flex-start;
            position:absolute;
            bottom:1px;
            display: none;
            transform-origin: left bottom;
            animation: listGrowth linear 0.3s;
            will-change:opacity;
            h3{
                font-weight: 400;
                color: $text-quote;
                font-size: 1.5rem;
                margin: 5px 10px;
                text-shadow: 0 5px 10px rgba($color: #000000, $alpha: 1);
            }
        }
    }
    h2{
        text-align: center;
        font-size:1.8rem;
        margin:20px 0;
        a{
            text-decoration: none;
            color:$text-color;
        }
    }
    
}
// display popup document
.popup-document{
    @include popup-position();
}
.document-container{
    margin: auto;
    position: relative;
    z-index: 2;
    width:80vw;
    height: 80vh;
    box-sizing: border-box;
    background-color:#dfe4ea;
}
// upload section
.uploadBox{
    width:100%;
    height: 50vh;
    box-shadow: 0 1px 30px rgba(0,0,0,0.5);
    @include flexcontent();
    flex-direction: column;
    justify-content: space-around;
    border-radius:2px;
    i{
        font-size:7rem;
        color: $primary-color;
    }
    span{
        font-size:1.5rem;
        color:$text-color;
    }
    .upload-btn{
        position: relative;
        overflow: hidden;
        padding:0;
        background-color: #3498db;
        background-image: linear-gradient(#4aa3df 0%, #258cd1 100%);
        box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(52, 152, 219, 0.5) 0 0 5px;
        border-radius: 4px;
        background-clip: padding-box;
        padding: 20px 40px;
        cursor: pointer;
        font-weight: 600;
        span{
            color:#fff;
            text-transform: capitalize;
        }
        &:hover{
            background-color: #4aa3df;
            background-image: linear-gradient(#5faee3 0%, #3498db 100%);
            box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(74, 163, 223, 0.5) 0 0 5px;
        }
        &::after{
            content: "";
            position: absolute;
            top: -90%;
            left: -210%;
            width: 200%;
            height: 200%;
            opacity: 1;
            transform: rotate(45deg);
            background: rgba(255, 255, 255, 0.13);
            background: linear-gradient(
                to right, 
                rgba(255, 255, 255, 0.13) 0%,
                rgba(255, 255, 255, 0.13) 77%,
                rgba(255, 255, 255, 0.5) 92%,
                rgba(255, 255, 255, 0.0) 100%
            );
        }
        &:hover::after{
            opacity: 1;
            top: -15%;
            left: 100%;
            transition-property: left, top, opacity;
            transition-duration: 0.7s, 0.7s, 0.15s;
            transition-timing-function: ease;
        }
    }
    .upload-hidden{
        visibility: hidden;
    }
}
// sidebar
.sidebar{
    position: relative;
    height: auto;
    border-radius:3px;
    padding:15px 30px;
    border: 2px solid #ccc;
    border-bottom: none;
    height: 100%;
    h4{
        color:$text-color;
        font-size:2rem;
        margin: 20px 0;
        text-align: center;
    }
    ul{
        list-style: none;
        font-size:1.6rem;
        li{
            position: relative;
            margin-bottom: 20px;
            font-weight: 400;
            &:hover{
                right: -4px;
                color:$primary-color;
                cursor: default;
            }
        }
    }
}
// data box 
.content-container-box{
}
.header-box-content{
    @include flexcontent();
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    width:100%;
    height: 50px;
    border-radius: 3px;
    border: 2px solid #ccc;
    margin-bottom: 50px;
    padding:10px;
    overflow: hidden;
    .nameFaculty{
        position: relative;
        width: 100%;
        &::after{
            content: "";
            border-top: 2px solid #d3d8f6;
            height: 1px;
            width: 80%;
            position: absolute;
            top: 8px;
        }
    }
    span{
        color:$text-color;
        font-size:1.6rem;
        font-weight: 500;
        margin-right: 5px;
    }
}
.dataBox{
    position: relative;
    background-color:#bacef3;
    height: 150px;
    border-radius: 3px;
    @include flexcontent();
    flex-direction: column;
    h4{
        color:$text-color;
        font-size:2rem;
        margin: 20px 0;
    }
    span{
        color: $text-color;
        font-size:2.5rem;
    }
}
// list student table
.list-student-table{
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
    .col{
        margin-bottom: 0;
        height: 50px;
        border-bottom: 1px solid #ccc;
        &:nth-child(1){
            border-right: 1px solid #ccc;
        }
        &:nth-child(2){
            border-right: 1px solid #ccc;
        }
        @include flexcontent();
        h3{
            color: $text-color;
            text-align:center;
            font-size: 1.8rem;
        }
        h4{
            color: $text-color;
            font-size:1.5rem;
        }
    }
    
}